<html>
    <head>
        <title>测试range标签</title>
    </head>
    <body>
        当前值是：{{.}}<br/>
        {{range .}}
            {{/*这是注释。这里的点表示遍历里面的内容*/}}
            {{.}}   <br/>
        {{else}}
        遍历的内容为空，其中else是可以省略的
        {{end}}

        <hr/>
        {{/*第二种遍历方式。像golang代码中一样用两个变量分别接收索引和值*/}}
        {{range $i, $v := .}}
            {{/*这是注释。这里的点表示遍历里面的内容*/}}
            {{if eq $i 0}}
                这是第一行------------
            {{end}}
            {{$i}} . {{$v}}  <br/>
        {{else}}
        遍历的内容为空，其中else是可以省略的
        {{end}}
    </body>
</html>