<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elim.learn.mybatis.dao.UserMapper">

	<select id="findById" resultType="com.elim.learn.mybatis.model.User" parameterType="java.lang.Long" >
		select id,name,username,email,mobile from t_user where id=${_parameter.id}
	</select>
	
	<!-- 当对应的接口方法传递多个参数时，可以不指定parameterType参数，就算指定了也没用，因为这个时候默认是Map -->
	<select id="findByNameAndMobile" resultType="com.elim.learn.mybatis.model.User">
		select id,name,username,email,mobile from t_user where name='${name}' and mobile='${1}'
	</select>
	
	
	<insert id="insert" parameterType="com.elim.learn.mybatis.model.User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into t_user(name,username,email,mobile) values(#{name},#{username},#{email},#{mobile})
	</insert>
	
	<insert id="delete" parameterType="java.lang.Long" flushCache="false">
		delete t_user where id=#{id}
	</insert>
	
</mapper>